.navbar {
    background-color: #0005;
    width: 100vw;
    max-width: 100vw;
    height: 8vh;
    font-family: 'Anton', sans-serif;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 2.5rem;
    color: #fff;
}

.nav-menu ul {
    display: flex;
    /* background-color: red; */
    list-style-type: none;
}

.nav-menu li {
    margin-right: 20px;
    color: #fff;
}

.nav-socials a {
    margin-right: 25px;
}